body{
    background-image: url("img/fondo.jpg");
}
h1{
        color: orange;
        text-align: center;
}
img{
    width: 100%;
}
header{
    position: relative;
    width: 98%;
    height: auto;
    padding: 1%;
    background-color: #0080FF;

}
nav{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: red;
    margin-top: 5px;
}
section{
    position: relative;
    width: 78%;
    height: auto;
    background-color: white;
    margin-top: 5px;
    padding: 1%; /* Margen interior de la caja para los divs */
    float:left;
}
aside{
    position: relative;
    width: 17%;
    min-width: 150px;
    height: auto;
    background-color: gray;
    margin-top: 5px;
    margin-left: 1%;
    padding: 1%;
    float:left;
}
footer{
    position: relative;
    width: 98%;
    height: auto;
    background-color: black;
    margin-top: 5px;
    padding: 1%;
    float:left;
    color: white;
}
#ar1{
    position: relative;
    width: 100%;
    float:left;
    background-color: white;
    margin-right: 2%;
}
#ar2{
    position: relative;
    width: 32%;
    height: 100%;
    float:left;
    background-color: greenyellow;
    margin-right: 2%;
}
#ar3{
    position: relative;
    width: 32%;
    height: 100%;
    float:left;
    background-color: greenyellow;
}