footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
    column-count: 4;
    column-width: 100px;
    color: silver;
    font: 20px Arial, Helvetica;
    padding-top: 30px;
}

footer ul {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

footer ul ol {
    margin: 0 0 0 2em; 
}

footer ul li{
    position: relative;
    display: block;
    margin: .5em 0;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;  
    width: 80%;
}

footer ul li:hover{
    background: #eee;
    border-radius: 5px;
}   

footer ul li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

footer ul li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

footer ul li:hover:after{
    left: -.5em;
    border-left-color: #3caac8;            
}