header, #slider{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 400px;
}

#black{
    background-color: black;
    width: 100%;
    min-height: 33px;
}

#log{
    position: relative;
    width: 20%;
    display:table-cell;

}

#username:focus, #password:focus {
    background-color: #fff;
    border: 2px solid #3caac8;
    outline: none;
}

#username, #password {
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

#submit {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #A9E2F3 #A9E2F3 #3caac8 #3caac8;
    width: 100px;
    padding: 0;
    height: 22px;
    cursor: pointer;
    font:  12px Arial, Helvetica;
    color: white;
    background-color: #3caac8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A9E2F3), to(#3caac8));
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

#submit:hover,#submit:focus {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left
        bottom, from(#3caac8), to(#A9E2F3));
    background-image: -webkit-linear-gradient(top, #3caac8, #A9E2F3);
}

#submit:active {
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#slider{
    list-style: none;
    background-size: 100% 100%;
    animation: slide 20s infinite;
    animation-direction: alternate;
    margin: auto;
    z-index: -1;
}

#logo{
    position: relative;
    margin: 50px auto;
    width: 200px;
    height:200px;
    background-size: 100% 100%;
    background-image: url(img/logo.png);

}

@keyframes slide {
    0%, 32% {
        background-image: url(img/slide1.jpg);
        opacity: 1;
    }
    32%, 33%{
        opacity: 0.9; 
    }
    33%, 66%{
        background-image: url(img/slide2.jpg);
        opacity: 1;
    }
    66%, 67%{
        opacity: 0.9; 
    }
    67%, 100%{
        background-image: url(img/slide3.jpg);
        opacity: 1;
    }
}